{% extends 'base.html' %}

{% block head %} 

{% endblock %}


{% block body %} 

<header>Python Poker</header>
  <div class="row">
    <div class="column">
      <h1>Card1</h1>
    </div>
    <div class="column">
      <h1>Card2</h1>
    </div>
    <div class="column">
      <h1>Card3</h1>
    </div>
    <div class="column">
      <h1>Card4</h1>
    </div>
    <div class="column">
      <h1>Card5</h1>
    </div>
  </div>
  <div class="secondrow">
    <form name="accountForm">
      <label for="name">Search for any user's account:</label><br>
      <input type="text" name="name" placeholder="Name of the customer" value="">
      <input class="inputbut" type="submit" value="Search">
    </form>
    <form name="reverseForm">
      <label for="name">Reverse any transaction:</label><br>
      <input type="text" name="name" placeholder="ID of the transaction" value="">
      <input class="inputbut" type="submit" value="Reverse">
    </form>
  </div>
{% endblock %}


