{% extends 'base.html' %}

{% block head %} 

{% endblock %}


{% block body %} 
<h1> Template </h1>

<header>Bank application - Team 4</header>
  <div class="row">
    <div class="column">
      <h1>View the number of transactions and the changes in balace</h1>
      <a href="/transactionsinformation" style="text-decoration: none; color: white;">Transactions Information</a>
    </div>
    <div class="column">
      <h1>View account details for all customers of the bank</h1>
      <a href="/viewaccounts" style="text-decoration: none; color: white;">Accounts</a>
    </div>
    <div class="column">
      <h1>View the history of all past transactions</h1>
      <a href="/transactionshistory" style="text-decoration: none; color: white;">Transaction History</a>
    </div>
  </div>
  <div class="secondrow">
    <form name="accountForm">
      <label for="name">Search for any user's account:</label><br>
      <input type="text" name="name" placeholder="Name of the customer" value="">
      <input class="inputbut" type="submit" value="Search">
    </form>
    <form name="reverseForm">
      <label for="name">Reverse any transaction:</label><br>
      <input type="text" name="name" placeholder="ID of the transaction" value="">
      <input class="inputbut" type="submit" value="Reverse">
    </form>
  </div>
{% endblock %}


